PORT=
NODE_ENV=
DATABASE_URL=
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET_KEY=
GOOGLE_CLIENT_CALLBACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET_KEY=
FACEBOOK_CLIENT_CALLBACK_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=

RESET_PASSWORD_URI=
REDIRECT_URI=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_USERNAME=
ADMIN_PHONE_NUMBER=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=

CONFIG_ADMIN=
CONFIG_ADMIN_PRIVATE=

STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_VISA_FAKE_CARD=