node_modules
.env
generated
dist/
/distdocker/postgresql/data/
prisma/migrations/
docker/postgresql/data/
postgresql/
postgresql/data/
docker/
*.log
*.pid
logs
npm-debug.log*
src/Common/Utils/Uploads/ProductImages/
