node_modules
.env
/src/generated/prisma
dist/
generated/
/distdocker/postgresql/data/
prisma/migrations/
docker/postgresql/data/
postgresql/
postgresql/data/
docker/
*.log
*.pid
npm-debug.log*
src/Common/Utils/Uploads/ProductImages/
/generated/prisma
